:root{
	--color--main: linear-gradient(rgba(244, 245, 243, 0.712),rgb(159, 90, 253)); 
	--color--footer: rgb(119, 5, 100);
	--color--h1: #2a1958;
	--color--h2: rgba(122, 60, 60, 0.87);
	--color--p: black;
	--color--btn: #2a1958;
	--color--nav: black;
	--color--nav_before:#2a1958;
	--color--customnav: white;
}
.dark-mode{
	--color--main: linear-gradient(#4b075ac4,rgba(28, 1, 41, 0.712)); 
	--color--footer: rgb(65, 3, 55);
	--color--h1: rgb(255, 255, 255);
	--color--h2: rgb(233, 233, 233);
	--color--p: white;
	--color--btn: #130735;
	--color--nav: rgb(215, 244, 248);
	--color--nav_before:rgb(215, 244, 248);
	--color--customnav: rgb(174, 147, 180);
}
#icon{
	width: 30px;
	cursor: pointer;
	margin: 10px;
}
.main{
	position: relative;
	height:100vh;
	width:100%;
	background:var(--color--main);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.8;	
}
.navbar{
	background-color: var(--color--customnav);
}

.nav-link{
	color: var(--color--p) !important;
}

.active{
	color: blueviolet !important;
}
.content h1{
    color:var(--color--h1);
margin-left: 8%;
}
.content h2{
    color: var(--color--h2);
    margin-left: 8%;
}
.content .para{
    color: var(--color--p);
}
.content .btn1 {
    background-color: var(--color--btn);
    color:honeydew;
  
}
.footer{
	background-color:var(--color--footer);
	display: block;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40vh;
	
}