*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
}

.cart{
    border:3.5px solid;
    position: absolute;
    /*top:100%;*/
    /*right:-50%;*/
    padding: .5rem;
    border-radius: .5rem;
    border-color:brown;
   /* width:15rem;*/
    background:linear-gradient(to bottom,rgb(242, 238, 245),rgb(219, 189, 247));
}

.cart .order{
    display: inline-block;
}

.cart .box{
    border:2px solid blueviolet;
    display: flex;
    align-items: center;
    gap:.2rem;
    position: relative;
    margin: 0.5rem 0;
    border-radius: .2rem;
}

.cart .box .content h3{
       color:black;
       font-size: 1.2rem;
       padding-bottom: 1rem;
}

.cart .box .content span{
    color:black;
    font-size: 1rem;
}

.cart .box .content .quantity{
    font-size: 1rem;
}

.cart .box img{
    border-radius: 2.8rem;
    border-color:red;
}

.cart .total{
    font-size: 1.4rem;
    padding: .4rem 0;
    color: black;
    margin-left:20px;
}

 .btn{
   margin-top: 0.4rem;
   display: inline-block;
    text-align: center;
    margin: .3rem .3rem;
   padding:.7rem 0.7rem;
   font-size: .9rem;
   border-radius: .3rem;
   border:.2rem solid blueviolet;
   color:brown;
   cursor: pointer;
}

.btn:hover{
   background-color:green;
   color:#fff;
}

.cart h2{
    text-align: center;
    color: rgb(248, 33, 33);
    font-size: 1.4rem;
}

 .header{
    margin-top: 0.6rem;
    margin-left: 8.5rem;
    text-align: center;
    padding:.6rem 0.6rem;
    border-radius: .5rem;
    border:.2rem solid brown;
    cursor: pointer;
    width:8rem;
    height:3rem;
}

.header:hover{
    background-color: green;
    color:#fff;
}

.header h3{
    color: red;
}   