/* _________________________________________________________________________ */

.main{
  padding-bottom: 10%;
}
* {
  box-sizing: border-box;
}

.touch {
  text-align: center;
  text-transform: capitalize;
  text-shadow: #f2f2f2;
  text-decoration: double;
  font-size: xx-large;
}

.con {
  margin-top: 19%;
}

input[type=text],input[type=number], select, textarea {
  width: 100%;
  padding: 12px;
  border: 3px solid rgb(91, 91, 240);
  border-radius: 5px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color:blueviolet;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

input[type=submit]:hover {
  background-color: #b31d89;
  
}


.hh {

  margin-top: 5%;
}

.container {
  margin-top: 0%;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 50px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}