body{
    margin:0;
    padding:0;
    background-color:#7b378ec4 ;
}
.login-box{
    border:2px solid;
    width:300px;
    box-shadow:0 0 3px 0 rgba(0,0,0,0.3);
    background: white;
    padding:20px;
    margin:5% auto 0;
    text-align: center;
}
.login-box h1{
    color:#1c8adb;
    margin-bottom: 30px;
}
.input-box{
    border-radius:20px;
    padding:10px;
    margin:10px 0;
    width:90%;
    border:1px solid #999;
    outline:none;
}
button{
    color:white;
    width:100%;
    padding:10px;
    border-radius:20px;
    font-size:15px;
    outline:none;
    border:none;
    cursor:pointer;
    margin:10px 0;
}
.login-btn{
    background-color:#1c8adb ;
}
.twitter-btn{
    background-color: #21afde;
}
a{
    text-decoration: none;
}
hr{
    margin-top:20px;
    width:80%;
}
.or{
    background: white;
    width:30px;
    margin:-19px auto 10px;
}
