body{
	margin:0;
	padding:0;
	background:rgb(247, 62, 207);
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.main{
	position: relative;
	height:100vh;
	width:100%;
	background:linear-gradient(rgb(231, 33, 198),#fbe751);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.8;
	
}
.main .navbar{
	position: absolute;
	height:16%;
	width:99%;
	/* background-color: rgba(143, 135, 132, 0.274); */
}

.main .navbar .logo{
	position: relative;
	width: 100px;
    height: 120px;
	top: -25px;
	left:15%;	
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size:35px;
	font-weight:600;
	color:#31d415;
	cursor:pointer;
	float:left;
	text-shadow:0px 5px 5px rgb(183, 202, 131);
}
.main .navbar ul{
	position: relative;
	height:100%;
	width:50%;
	color:black;
	float:right;
}
.main .navbar ul li{
	list-style-type: none;
	display: inline-block;
}
.main .navbar ul .lgn{
	border:2px solid #285edd;
	padding: 6px 10px;
	background-color: #dce003;
	color: #0fc038;
}
.main .navbar ul li a{
	position: relative;
	text-decoration: none;
	display: block;
	box-sizing: border-box;
	text-shadow:0px 5px 5px rgba(190, 229, 18, 0.962);
	color:rgb(143, 231, 28);
	font-family:'cinzel',sans-serif;
	font-size:15px;
	font-weight: 600;
	padding:10px;
	width:100%;
	height:auto;
}
.main .navbar ul li a:before{
	position: absolute;
	content: '';
	height:2px;
	width:0;
	background:#d9dd06;
	left:0;
	bottom:0;
	transition: 0.5s ease-in-out width;
}
.main .navbar ul li a:hover:before,
.main .navbar ul li a.active:before{
	width:100%;
}
.main .navbar ul li span{
	padding:2px;
	font-size:24px;
	color:#0bee0e;
	font-weight:200;
}
.img{ margin-left: 63%;
}

  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f5f91c;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(83, 221, 28, 0.964);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: rgb(85, 223, 16);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {background-color: #dbd81e;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #ec1c9c;}

    /* ____________________________________________________________________________________________________________ */

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 25vh;
    padding: 0px 25px;
    


}
.shipp img{
    width: 60vh;
}
.content h1{
    color: #050705;
margin-left: 8%;
}
.content h2{
    color: rgba(0, 0, 0, 0.87);
    margin-left: 8%;
}
.content .para{
    color: rgb(213, 31, 165);
    margin-left: 8%;
}
.content .btn{
    
    justify-content: space-around;
    align-items: center;
    margin-left: 8%;

}
.content .para{
    color: rgb(17, 221, 38);

}
.content .button{
    margin: 0px -17px;
    padding: 15px 45px; 
    border-radius: 10px; 
    border: none; 

}
.content .btn1 {
    background-color: #d4d704;
    color:rgb(16, 207, 16);
  
}
.btn1:hover{
	background-color:rgba(0, 0, 0, 0.87);
}
/* footer */
footer{
     background-color: #051b05;
     padding:70px 0px;
}	       

footer ul li{
    padding:5px 0px;
}

.adress span , .contact span , .social span, .service span{
   color: #e912a1; 
   font-weight: 800; 
   padding-bottom: 10px; 
   margin-bottom: 20px;
   display: block;
   text-transform: uppercase;
   font-size: 20px;
   letter-spacing: 3px;
}
 
.adress li p , .contact li a , .social li a, .service li a{
    color:#30d817;
    letter-spacing: 2px;
    text-decoration:none;
    font-size:15px;
}

.social li{
    float:left;
}

.adress , .contact , .social , .service{
    list-style: none;
}

.fa{
    color:#cd08c3;
    margin-right: 15px;
    font-size:14px;
}
.service span{
    letter-spacing: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(197, 9, 175);
}
.contact span{
    letter-spacing: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(185, 234, 7);
}
.adress span{
    letter-spacing: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(222, 253, 66);
}
.social span{
    letter-spacing: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(143, 203, 22);
}
.service a{
    letter-spacing: 4px !important;
    position: relative;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}
.service a:hover {
    color: rgb(181, 36, 168) !important;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

 .service a:before, .service a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background:rgb(227, 36, 192);
}

.imgload{
	height: 25%;
	width: 15%;

}
.loader{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #e8229cfc;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader.hidden{
    animation: fadeOut 2s forwards;
  }
  @keyframes fadeOut {
    100%{
      opacity: 100%;
      visibility: hidden;
    }
  }

 

.adress p{
    letter-spacing: 4px !important;
    position: relative;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}
.adress p:hover {
    color: rgb(35, 244, 20) !important;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}
.social i{
    position: relative;
}
.social i:hover {
    color: rgb(32, 213, 23) !important;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}
.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}
.hidden {
    display: none;
        opacity: 0%;
      
  }
.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 100%;
    background: gray;
    padding: 1.5rem;
    border: none;
    cursor: pointer;
    opacity: 100%;
    transition: opacity 0.5s;
  }
  .back-to-top-icon {
    width: 2rem;
    height: 2rem;
    color: rgb(183, 227, 39);
  }
  .back-to-top:hover {
    opacity: 60%;
  }

.text-uppercase{
    color: white;
    font-size: 22;
    font-weight: bold;
}
#footer-aboutus{
    color: rgb(225, 214, 214);
}

.footer-4 p{
    color: rgb(102, 127, 241);
}


  



    
    /* ____________________________________________________________________________________________________________ */
    


