body{
	margin:0;
	padding:0;
	background:black;
font-family: 'Times New Roman', Times, serif;
}
:root{
	--color--main: linear-gradient(rgba(244, 245, 243, 0.712),#7b378ec4); 
	--color--footer: rgb(119, 5, 100);
	--color--h1: #2a1958;
	--color--h2: rgba(122, 60, 60, 0.87);
	--color--p: black;
	--color--btn: #2a1958;
	--color--nav: black;
	--color--nav_before:#2a1958;
	
}
.dark-mode{
	--color--main: linear-gradient(#4b075ac4,rgba(28, 1, 41, 0.712)); 
	--color--footer: rgb(65, 3, 55);
	--color--h1: rgb(255, 255, 255);
	--color--h2: rgb(233, 233, 233);
	--color--p: white;
	--color--btn: #130735;
	--color--nav: rgb(215, 244, 248);
	--color--nav_before:rgb(215, 244, 248);

}
.main{
	position: relative;
	height:100vh;
	width:100%;
	background:var(--color--main);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.8;
	
}
#icon{
	width: 30px;
	cursor: pointer;
	margin: 10px;
}

.main .navbar{
	position: absolute;
	height:16%;
	width:99%;
	/* background-color: rgba(143, 135, 132, 0.274); */
}

.main .navbar .logo{
	position: relative;
	width: 150px;
    height: 150px;
	top: -25px;
	left:15%;	
	font-family:'Lato',sans-serif;
	font-size:35px;
	font-weight:600;
	color:#fff;
	cursor:pointer;
	float:left;
	text-shadow:0px 5px 5px rgba(0, 0, 0, 0.5);
}
.main .navbar ul{
	position: relative;
	height:100%;
	width:50%;
	color:black;
	float:right;
}
.main .navbar ul li{
	list-style-type: none;
	display: inline-block;
}
.main .navbar ul .lgn{
	border:2px solid #041935;
	padding: 6px 10px;
	background-color: #2a1958;
	color: #fff;
}
.main .navbar ul li a{
	position: relative;
	text-decoration: none;
	display: block;
	box-sizing: border-box;
	text-shadow:0px 5px 5px rgba(0, 0, 0, 35%);
	color:var(--color--nav); 
	font-family:'cinzel',sans-serif;
	font-size:15px;
	font-weight: 600;
	padding:10px;
	width:100%;
	height:auto;
}
.main .navbar ul li a:before{
	position: absolute;
	content: '';
	height:2px;
	width:0;
	background:var(--color--nav_before);
	left:0;
	bottom:0;
	transition: 0.5s ease-in-out width;
}
.main .navbar ul li a:hover:before,
.main .navbar ul li a.active:before{
	width:100%;
}
.main .navbar ul li span{
	padding:2px;
	font-size:24px;
	color:#fff;
	font-weight:200;
}
.img{ margin-left: 63%;
}

  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

    /* ____________________________________________________________________________________________________________ */

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 25vh;
    padding: 0px 25px;
    

}
.shipp img{
    width: 60vh;
}
.content h1{
    color:var(--color--h1);
margin-left: 8%;
}
.content h2{
    color: var(--color--h2);
    margin-left: 8%;
}
.content .para{
    color: black;
    margin-left: 8%;
}
.content .btn{
    
    justify-content: space-around;
    align-items: center;
    margin-left: 8%;

}
.content .para{
    color: var(--color--p);
}
.content .button{
    margin: 0px -17px;
    padding: 15px 45px; 
    border-radius: 10px; 
    border: none; 

}
.content .btn1 {
    background-color: var(--color--btn);
    color:honeydew;
  
}
.btn1:hover{
	background-color:rgba(0, 0, 0, 0.87);
}
/* footer */
.linkss{
text-align: center;
	color: white;
	padding: 20px;
} 

.footer{
	background-color:var(--color--footer);
	display: block;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40vh;
	
}
.copy{

color: white;
padding: 20px;

	text-align: center;
	background-color:#530346;
}
.adress , .contact , .social , .service{
    list-style: none;
}

.fa{
    color:#9c9c9c;
    margin-right: 15px;
    font-size:14px;
}

  



    
    /* ____________________________________________________________________________________________________________ */
    


