@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.body{
    background: black; 
}


.slide-container{
    max-width: 1350px;
    background-color:#7b378ec4;
    width:100%;
    top: 10vh;
    padding: 25px 0;
    border-radius: .9rem;
    box-shadow: 10px 10px #2a1958;
}

.slide-container h3{
    color:black;
    text-align: center;
    font-size: 1.5rem;
}

.slide-container h2{
    color:black;
    font-size: 1.2rem;
    text-align: center;
}

.slide-content{
    padding: 45px 20px;
    margin:0 40px;
    background-color: #fff;
     overflow: hidden;
    border-radius: 25px;
}

.card{
    margin:2px 2px 2px 2px;
    border-radius: 27px;
    background-color: #fff;
   border:2px solid brown;
}

.image-content,
.card-content{
    padding: 10px 14px;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 10px 14px ;
}

.card-image{
    position: relative;
    height: 150px;
    width:150px;
    border-radius: 50%;
    background-color: #fff;
    padding: 3px;
}

.card-image .card-img{
    height:100%;
    width: 100%;
    object-fit: cover;
    border-radius:50%;
    border: 4px solid  brown;
}

.name{
    font-size: 18px;
    font-weight: 500;
    color:#333;
}

.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.image-content{
    row-gap: 5px;
    position: relative;
    border-radius: 25px 25px 0 25px;
    padding: 25px 0;
}

.overlay{
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: #2a1958 ;
    border-radius: 25px 25px 25px 0;
}

.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #2a1958;
    bottom: -40px;
}

.overlay::after{
    border-radius: 25px 0 0 0;
    background-color: #fff;
}

.button{
    border: none;
    font-size: 16px;
    color:#fff;
    padding: 8px 16px;
    background-color: rgba(136, 42, 42, 0.87);
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover{
    background-color: rgb(5, 55, 5);
}

.swiper-navBtn{
    color:pink;  
    transition: color 0.3s ease;
}

.swiper-navBtn:hover{
    color: #130735;
}

.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 40px;
}

.swiper-button-next{
    right:0;
}

.swiper-button-prev{
    left:0;
}

.swiper-pagination-bullet{
    background-color: rgb(233, 114, 134);
    opacity:1;
}

.swiper-pagination-bullet-active{
    background-color:  #130735;
}

@media screen and (max-width:768px) {
    .swiper-navBtn{
        display: none;
    }

    .slide-content{
        margin:0 10px;
    }
    
}
.space{
    padding-top: 10%;
}
.main{
	position: relative;
	height:100%;
	width:100%;
	background:linear-gradient(rgba(244, 245, 243, 0.712),#7b378ec4);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.8;
	
}
.main .navbar{
	/* position: absolute;
	height:16%;
	width:99%; */
	/* background-color: rgba(143, 135, 132, 0.274); */
}

/* .main .navbar .logo{
	position: relative;
	width: 150px;
    height: 150px;
    padding-bottom: 1%;
	top: -25px;
	left:15%;	
	font-family:'Lato',sans-serif;
	font-size:35px;
	font-weight:600;
	color:#fff;
	cursor:pointer;
	float:left;
	text-shadow:0px 5px 5px rgba(0, 0, 0, 0.5);
} */

.img{ margin-left: 63%;
}

  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  /* footer */

footer{
    text-align: center;
    padding: auto;
    background-color:#0f0e31;
  }
ul{
    text-align: justify;
    padding: 10px;
  }	  
  
  .social div{
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    margin-left: 30px;
  }


 



   
   /* ____________________________________________________________________________________________________________ */
   