@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root{
    --main-color: #DD2F6E;
    --color-dark: #1D2231;
    --text-grey: #8390A2;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.sidebar{
    width: 440px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-color);
    z-index: 100;
}
.sidebar-brand{
    height: 90px;
    color: #fff;
    padding-left: 1rem;
    padding-top: 1rem;
}
.sidebar-brand span{
    display: inline-block;
    padding-right: 0.5rem;
}
.sidebar-menu li{
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;
}
.sidebar-menu a{
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.1rem;
}
.sidebar-menu a:hover{
    color: #000;
    text-decoration: underline;
}
.sidebar-menu a.active{
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;
}
.sidebar-menu a span:first-child{
    font-size:1.5rem;
    padding-right: 1rem;
}
.main-content{
    margin-left: 440px;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 440px;
    width: calc(100% - 440px);
    top: 0;
    z-index: 100;
}
header h2{
    color: #222;
}
header label span{
    font-size: 1.7rem;
    padding-left: 0.5rem;
}
.search-wrapper{
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}
.search-wrapper span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}
.search-wrapper input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}
.user-wrapper {
    display: flex;
    align-items: center;
}
.user-wrapper img{
    border-radius: 50%;
    margin-right: 1rem;
}
.user-wrapper small{
    display: inline-block;
    color: var(--text-grey);

}
main{
    margin-top: 90px;
    padding: 1rem 1rem;
    background: #f0f0f0;
    min-height: calc(100vh - 90px);
}
.cards {
    background-color: honeydew;
    height: 480px;
    width: 100%;
    box-shadow: 0px 0px 10px 5px #888888;
    border-radius: 8px;
    display: flex;
}
.card-1 {
    width: 80%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 1rem 1rem 1rem 1rem;
}
.wlcm{
    margin-left: 15px;
}
.card-1 h1{
    color: #041935;

}

.card-1 h3{
    color: #041935;
    margin: 3px 0px;
    font-weight: 500;

}

.card-1 .activites {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 20px;

}

.card-1 .activity {
    height: 150px;
    width: 90%;
    margin: 3px 0px;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 10px 5px #888888;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.card-2 {
    list-style: none;
    width: 20%;
    margin: 1rem 1rem 1rem 1rem;
    box-shadow: 0px 0px 10px 5px #888888;
    background: white;

}
.card-2 h2{
    color: #041935;
    margin: 20px 0px;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    
}
.card-2 .history-activity ul{
    list-style: number;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-2 .history-activity ul li{
    margin: 4px 0;

}
.history-activity ul li a{
    text-decoration: none;
    font-size: 15px;
}
.history-activity ul li a:hover{
    text-decoration: underline;
    color: #DD2F6E;
}
