
<div class="navbar">
	<a href="index.html"><img class="logo" src="logo.png" /></a>
	<ul>
		<li><a href="index.html"  >HOME</a></li>
		<div class="dropdown">
			<li><a href="pages/services.html">SERVICE </a></li>
			<div class="dropdown-content">
				<a href="#">Link 1</a>
				<a href="#">Link 2</a>
				<a href="#">Link 3</a>
			</div>
		</div>
		<li><a href="pages/about_us.html">ABOUT US </a></li>
		<li><a href="pages/contact-us.html">CONTACT US </a></li>
		<li><a href="pages/login.html" class="lgn">LOGIN</a></li>
		<li><a href="pages/signup.html" class="lgn">SIGN UP</a></li>
		<li><a href="pages/project.html">Cart </a></li>
        <img src="../static/img/moon.png" id="icon">

	</ul>
	<script src="../static/js/darkmode.js"></script>
</div>