{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style/login.css'%}">
    <link rel="icon" type="image/x-icon" href="../static/img/crop_logo.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="login-box">
        <h1>Login </h1>
        <form action="#" method="POST"> {% csrf_token %}
            <input type="email" class="input-box" name="email" placeholder="Enter your E-mail">
            <input type="password" class="input-box" name="password" placeholder="Enter your Password">

            <p><span><input type="checkbox" name="" required></span>I agree to the Terms and Conditions</p>
            <button type="submit" class="verify-btn">LOG IN</button>
            <hr>
            <p class="or">OR</p>
            <button type="button" class="twitter-btn">Login with Google <i class="fa fa-google" aria-hidden="true"></i></button>
            <p>Do not have an account ?<a href="/signup/">Sign Up</a></p>
        </form>
    </div>
    
</body>
</html>