{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style/login.css'%}">
    <link rel="icon" type="image/x-icon" href="../static/img/crop_logo.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="login-box">
        <h1>Login </h1>
            {% if messages %}
            <!-- <div>ksbv</div> -->
            {% for message in messages %}
            <b>
                <div style="padding: 10px; position: absolute; color: red;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>  
            </b>
            <br><br>    
            {% endfor %}
            {% endif %}
            <form>
            <input type="email" class="input-box" placeholder="Full Name">
            <input type="number" class="input-box" placeholder="Enter your mobile number">

            <p><span><input type="checkbox" name="" required></span>I agree to the Terms and Conditions</p>
            <button type="button" class="verify-btn">Send OTP</button>
            <hr>
            <p class="or">OR</p>
            <a href="/loginemail/"><button type="button" class="verify-btn">Login with email/password</button></a>
            <button type="button" class="twitter-btn">Login with Google <i class="fa fa-google" aria-hidden="true"></i></button>
            <p>Do not have an account ?<a href="/signup/">Sign Up</a></p>
        </form>
    </div>
    
</body>
</html>