{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="../static/style/signup.css">
    <link rel="icon" type="image/x-icon" href="../static/img/crop_logo.png" />
</head>

<body>
   
    <div class="signup-box">
        <h1>Sign Up</h1>
        <h4>Get started with your account</h4>
        <form action='/signup/'  method="POST"> {% csrf_token %}
            <label for="uname">Username</label>
          <input type="text" id="uname" name="uname" placeholder="Create unique username" required>

            <label for="fname">First Name</label>
          <input type="text" id="fname" name="fname" placeholder="Your first name" oninput="checkname();" required>

          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lname" placeholder="Your last name" oninput="checkname();" required>

          <label for="email">E-mail</label>
          <input type="email" id="email" name="email" placeholder="Your E-mail" oninput="checkemail();" required>

          <label for="password">Password</label>
          <input type="password" id="password" name="password" placeholder="Password" required>

          
          <label for="cnfpassword">Confirm Password</label>
          <input type="cnfpassword" id="cnfpassword" name="cnfpassword" placeholder="Confirm Password" required>

            <input type="submit" onclick="signup();" value="Submit">
            {% if messages %}
            <!-- <div>ksbv</div> -->
            {% for message in messages %}
            <b>
                <div style="padding: 10px; position: absolute; color: red;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>  
            </b>
            {% endfor %}
            {% endif %}
        </form>
        <p>By Clicking on Submit button, you agree to our<br>
            <a href="#">Terms and Conditions</a> and <a href="#">privacy policy</a>
        </p>
        <br>
    </div>
    <p class="already">Already have an account?<a href="/login/">Login here</a> </p>
</body>


<script>  
    function checkname(){
      var name_in = document.querySelector("#fname")
      console.log(name_in.value)
      if(name_in.value.length>10)
      {
        name_in.setCustomValidity("Name is too long!")
      }
      else
      {
        name_in.setCustomValidity("")
      }
    }
    function checkemail(){
      var em = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
      var email_in = document.querySelector("#email");
      if(!(email_in.value.match(em)))
      {
        email_in.setCustomValidity("Email is invalid!");
      }
      else
      {
        email_in.setCustomValidity("");
      }
    }
    function checkcontact(){
      var phoneno = /^\d{10}$/;
      var contact_in = document.querySelector("#contact");
      if(!(contact_in.value.match(phoneno)))
      {
        contact_in.setCustomValidity("Phone Number is invalid!");
      }
      else
      {
        contact_in.setCustomValidity("");
      }
    }
</script>

</html>