<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="../static/img/crop_logo.png" />
    <link rel="stylesheet" href="../static/style/user_dashboard.css">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-brand">
            <h1><span class="lab la-accusoft"></span> The Digital Cyber Cafe</h1>
        </div>

        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="" class="active"><span class="las la-igloo"></span>
                    <span>DASHBOARD</span></a>
                </li>
                <li>
                    <a href="" ><span class="las la-home"></span>
                    <span>HOME</span></a>
                </li>
                <li>
                    <a href="../static/pages/user_profile.html"><span class="las la-user-alt"></span>
                    <span>PROFILE</span></a>
                </li>
                <li>
                    <a href="#"><span class="las la-clipboard-list"></span>
                    <span>TASKS</span></a>
                </li>
                <li>
                    <a href="/service/"><span class="las la-laptop"></span>
                    <span>SERVICE</span></a>
                </li>
                <li>
                    <a href="/contact/"><span class="las la-phone"></span>
                    <span>CONTACT US</span></a>
                </li>
                <li>
                    <a href="/logout1/"><span class="las la-arrow-alt-circle-left"></span>
                    <span>LOG OUT</span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-content">
        <header>
            <h2>
                <label for="">
                    <span class="las la-bars"></span>
                </label>
                Dashboard
            </h2>

            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="search" placeholder="Search here">
            </div>

            <div class="user-wrapper">
                <img src="#" alt="profile_photo" width="30px" height="30px">
                <div>
                    <h4>USERNAME</h4>
                    <small>EMAIL</small>
                </div>
            </div>
        </header>

        <main>
            <div class="cards">
                <div class="card-1">
                    <div class="wlcm">
                        <h1>Good Morning, User</h1>
                        <h3>Your all activity is here...</h3>
                    </div>

                    <div class="activites">
                        <div class="activity"> 1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima est excepturi ipsum illum corporis architecto. Consequuntur in vel sed, molestiae asperiores hic quos odit nesciunt a nemo corporis veniam voluptate.</div>
                        <div class="activity"> 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque velit suscipit dolor, ipsa voluptates consectetur quae cupiditate nam. Corrupti aperiam ratione numquam fuga hic praesentium ex, sit consectetur id est.</div>
                    </div>
               </div>
            <!-- right -->

                <div class="card-2 ">
                    <h2>History</h2>
                    <div class="history-activity">
                        <ul>
                            <li><a href="#">History-1</a></li>
                            <li><a href="#">History-2</a></li>
                            <li><a href="#">History-3</a></li>
                            <li><a href="#">History-4</a></li>
                            <li><a href="#">History-5</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>